In [11]:
#Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not.
#A number is symmetrical when it is the same as its reverse.
n= int(input("Enter the value "))
def symmetrical(n):
    return str(n)== str(n)[::-1]
print(symmetrical(n))

Enter the value 7227
True

In [12]:
symmetrical(12567)

False

In [13]:
symmetrical(1112111)

True

In [19]:
#Given a string of numbers separated by a comma and space, return the product of the numbers
def multiply_nums(s):
    s=s.replace(" ","")
    s=s.split(",")
    sum=1
    for i in s:
        sum=sum*int(i)
    return(sum)

multiply_nums("2, 3")

6

In [20]:
multiply_nums("1, 2, 3, 4")

24

In [7]:
#Create a function that squares every digit of a number.

def square_digits(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    return int(z)

In [11]:
square_digits(9119)

811181

In [9]:
#Create a function that sorts a list and removes all duplicate items from it.
def setify(lst):
    return(set(lst))

In [10]:
setify([1, 3, 3, 5, 5])

{1, 3, 5}

In [16]:
#Create a function that returns the mean of all digits.
def mean(n):
    N=len(str(n))
    sum=0
    for i in str(n):
        sum=sum+int(i)
    return(int(sum/N))

In [17]:
mean(42)

3